"*":
  "atom-beautify":
    css: {}
    general:
      _analyticsUserId: "95185f2a-8830-4fa1-8c5f-0ce3004d33db"
      analytics: false
    html:
      wrap_line_length: 100000
    js:
      beautify_on_save: true
      break_chained_methods: true
      end_with_newline: true
      eval_code: true
      indent_size: 2
      jslint_happy: true
      keep_array_indentation: true
      keep_function_indentation: true
    json:
      beautify_on_save: true
      end_with_newline: true
    markdown:
      beautify_on_save: true
      default_beautifier: "Remark"
    php:
      beautify_on_save: true
    scss:
      align_assignments: true
      beautify_on_save: true
      convert_quotes: "single"
      no_lead_zero: true
      preserve_newlines: true
    xml:
      beautify_on_save: true
  "atom-package-deps":
    ignored: []
  "atom-ternjs":
    snippetsFirst: true
    sort: false
    useSnippets: true
  "autocomplete-plus":
    maxVisibleSuggestions: 15
  "browser-refresh":
    googleChrome: false
    googleChromeCanary: true
  core:
    closeDeletedFileTabs: true
    customFileTypes:
      "source.coffee": [
        "VagrantFile"
      ]
    disabledPackages: [
      "language-go"
      "wrap-guide"
      "language-csharp"
      "language-clojure"
      "language-java"
      "language-make"
      "language-objective-c"
      "language-perl"
      "language-python"
      "language-ruby"
      "language-ruby-on-rails"
      "language-toml"
      "background-tips"
      "autoflow"
      "language-c"
      "language-less"
      "language-xml"
      "welcome"
      "metrics"
      "exception-reporting"
      "language-html"
      "deprecation-cop"
      "javascript-snippets"
      "linter-write-good"
      "expressjs"
      "autocomplete-bash-builtins"
      "language-javascript"
      "linter-js-standard"
      "remote-edit"
      "editor-stats"
      "merge-conflicts"
      "atom-autocomplete-php"
    ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "node_modules"
      "shrinkwrap.yaml"
      "vendor"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "escape-utils"
    ]
    telemetryConsent: "limited"
    titleBar: "custom"
  editor:
    lineHeight: 2.2
    preferredLineLength: 80
    showIndentGuide: true
    tabLength: 4
    tabType: "hard"
  "exception-reporting":
    userId: "d395dc69-4b30-628d-f880-b7bae1732773"
  "file-icons": {}
  "git-diff":
    showIconsInEditorGutter: true
  linter:
    lintOnChange: false
    lintOnChangeInterval: 2000
    lintOnOpen: false
  "linter-eslint":
    eslintrcPath: "~/Documents/Dev/Linters/.eslintrc"
    globalNodePath: "/usr/local"
    useGlobalEslint: true
  "linter-js-standard":
    showEslintRules: true
  "linter-jshint": {}
  "linter-markdown": {}
  "linter-sass-lint":
    configFile: "~/Documents/Dev/Linters/.scss-lint.yml"
  "linter-scss-lint": {}
  "linter-ui-default":
    panelHeight: 69
    showPanel: true
    showTooltip: false
    statusBarRepresents: "Current File"
  "markdown-preview": {}
  "merge-conflicts":
    gitPath: "/usr/bin/git"
  minimap:
    plugins:
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
    scrollAnimationDuration: 100
  "node-debugger":
    nodePath: "/Users/Brent/.nvm/versions/node/v6.10.3/bin/node"
    scriptMain: "index.js"
  react: {}
  "standard-formatter":
    formatOnSave: true
    honorPackageConfig: false
  "status-bar": {}
  "tree-view":
    alwaysOpenExisting: false
    hideIgnoredNames: true
  "w3c-validation":
    cssMedia: "braille"
    hideOnNoErrors: true
    useFoldModeAsDefault: true
  welcome:
    showOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
".js.jsx.source":
  editor:
    tabLength: 2
".js.regexp.replacement.source":
  editor:
    tabLength: 2
".js.regexp.source":
  editor:
    tabLength: 2
".js.source":
  editor:
    showInvisibles: false
    softWrap: false
    tabLength: 2
".jsdoc.source":
  editor:
    tabLength: 2
